@tailwind base;
@tailwind components;

/* @font-face{
    font-family:"Qahiri-Regular";
    font-style:normal;
    font-weight:400;
    src:local(''),
        url('public/fonts/Qahiri-Regular.ttf') format('ttf')
} */


.bg-black-alt  {
    background:#191919;
}
.text-black-alt  {
    color:#191919;
}
.border-black-alt {
    border-color: #191919;
}


@tailwind utilities;
